@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-clr : #211C84;
    --secondary-clr : #1a1a1a ;
}



p{
    font-family: "Poppins" , sans-serif;
    font-size: 15px;
    color: rgb(54, 54, 54);
    line-height: 1.7;
    transition: .4s ease;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    transition: .4s ease;
}

.page-content h2,
.page-content h4 {
  font-family: "Domine", sans-serif;
  color: var(--primary-clr);
  line-height: 1.4;
  font-weight: bold;
  text-transform: capitalize;
  transition: .4s ease;
}

img {
    width: 100%;
    transition: .4s ease;
}


p.title-p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-clr);
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

p.title-p img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

h2.title-h {
    color: var(--secondary-clr);
    font-size: 38px;
}

.nav-tabs {
    gap: 10px;
    border: none 
}

.nav-tabs .nav-item  .nav-link {
    width: auto;
    background-color: white;
    color: #000;
    border-radius: 30px;
    padding: 10px 30px;
    border: 2px solid var(--primary-clr);
    margin-bottom: 20px;
}

.nav-tabs .nav-item  .nav-link.active  {
    background-color: var(--primary-clr);
    color: white;
}

.service-tab {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(59, 61, 65, 0.441) 0px 8px 24px;
    max-width: 100%;
    margin: auto;
    transition: .4s ease;
    

 
}

.service-tab h4 {
    color: var(--primary-clr);
    font-size: 18px;
}

.service-tab:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.service-tab .ser-img  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.star-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.star {
    font-size: 5px;
    cursor: pointer;
    transition: fill 0.2s ease;
}

.star path {
    fill: none; 
    stroke: #505050; 
    stroke-width: 1; 
    transition: stroke 0.2s ease;
}

.star.filled path {
    fill: #ffd700; 
    stroke: #ffd700;
}


.service-tab {
    position: relative;
}

.nutrition-info p {
    position: relative;
    margin: 0 0 5px;
    font-size: 0.9rem;
}

.read-more-btn {
    background-color: transparent;
    color: #22177A;
    border: 2px solid #22177A;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .read-more-btn:hover {
    background-color: #4335A7;
    color: white;
  }

  .read-more-btn.clicked {
    background-color: #4335A7;
    color: white;
  }

  .more-content {
    display: none;
  }

  .carousel-item img {
    max-width: 500px;
    margin:0 auto;
  }
    
 h5{
    color:#1a1a1a ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }   

.carousel-item p{
    color:#040D12;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }